<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Reference</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of myproducts">
            <td>{{ product.id }}</td>
            <td>{{ product.reference }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.categoryDto.label }}</td>
        </tr>
    </tbody>
</table>
